* {
  box-sizing: border-box;
}

.default {
  background-image: url("/images/fond_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'NanumGothicCoding', monospace;
  position: relative;
}

.title {
  color: rgb(17, 17, 17);
  text-shadow: 0px 0px 10px #fff;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}

.title_2 {
  color: rgb(0, 0, 0);
  font-size: 2em;
  text-align: center;
  background-color: rgba(173, 148, 80, 0.37);
  border-radius: 20px;
  box-shadow: black 0px 0px 10px 0px;
}

.title_3 {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  text-align: center;
  background-color: rgb(128, 0, 0);
  border-radius: 20px;
  box-shadow: black 0px 0px 10px 0px;
}

.fond-regle {
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  background-image: url('/images/fond_regle.jpg');
  background-size: cover;
}

.regle {
  background-color: rgba(173, 148, 80, 0.37);
  color: black;
}

.carte {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  box-shadow: black 0px 0px 10px 0px;
}

.carte-info {
  width: 100px;
  height: 100px;
  border: black 1px solid;
}

.carte-info:hover {
  box-shadow: rgb(255, 255, 255) 0px 0px 20px 0px;
  transition: 0.5s;
  transform: scale(1.1);
}

.carte-joueur {
  height: 100px;
  width: 100px;
}

.carte-joueur:hover {
  box-shadow: rgb(255, 255, 255) 0px 0px 20px 0px;
  transition: 0.5s;
  transform: scale(1.1);
}

.carte-carousel {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.carte-modal {
  width: 400px;
  height: 400px;
}

.carte:hover {
  box-shadow: black 0px 0px 20px 0px;
  transition: 0.5s;
  transform: scale(1.1);
}

.modal-content {
  background-color: #a5814d!important;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.modal .modal-header {
    padding: 10px;
}

.modal .modal-header h1 {
    font-size: 2em!important;
    color: rgb(128, 0, 0);
    margin: 0;
}

.modal .modal-body {
    padding: 10px;
    color: black!important;
}

.modal .modal-footer {
    padding: 10px;
}

.modal .btn-close {
    color: rgb(128, 0, 0)!important;
}

.red-strong {
  color: rgb(128, 0, 0)!important;
}

.carousel {
  width: 300px;
  height: 300px;
}

.carousel-control-next {
  justify-content: end!important;
}

.carousel-control-prev {
  justify-content: start!important;
}

.p-carousel {
  color: black;
  font-size: 1em;
  text-align: center;
}

.container-chat {
  width: 100%;
  height: 100%;
}

.corps {
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
  position: relative;
}

.haut {
  margin-top: 10px;
  height: auto;
  position: absolute;
  top: 0;
}

.bas {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.chat {
  width: 100%;
  height: 100%;
  position: relative;
}

#chat-zone {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.chat-footer {
  bottom: 0;
  width: 100%;
}

.infos-joueur {
  float: left;
}

.liste-joueurs {
  float: right;
}

.infos-joueur > .card {
  margin: 10px;
  background-color: rgba(173, 148, 80, 0.726)!important;
  color: black;
  text-align: center;
  padding: 10px;
  box-shadow: black 0px 0px 10px 0px;
}

.infos-joueur > .card > .card-title {
  background-color: rgba(173, 148, 80, 0.726)!important;
  color: black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.infos-joueur > .card > .card-body {
  background-color: rgba(173, 148, 80, 0.726)!important;
  color: black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.navbar-brand img {
  height: 48px;
  width: 48px;
}